@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Rubik+Mono+One&display=swap');



body{
    background-image: linear-gradient(#2193b0, #2193b0);
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans';
}

nav{
    background: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 5px  black;
}

nav .onglets{
    display: flex;
    flex-wrap: wrap;
}

nav .onglets a{
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
    margin-left: 50px;
}


header{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 40px;
}

header h1{
    font-size: 30px;
    border-bottom: 1px solid white;
}

.main{
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
    text-align: center;
    align-items: center;
}



.main h1{
    text-align: center;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}


.main .card{
    align-items:center;
    justify-content:center;
    display:flex;
    flex-wrap : wrap;
    flex-direction: column;
    gap : 2rem;
    height: 100%;


}


.main .card .content{
    background-color:black;
    color: white;
    border-radius: 5%;
    font-size: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 0;
}



.main .card .image img{
    height: 40%;
    width: 0%;
    border-radius: 5%;
}





footer{
    margin-top: 40px;
    border-top: 5px solid #6f6f6f;
    background-color: black;
    color: white;
    padding: 30px 100px;
}

footer p{
    font-size: 20px;
}

footer h1{
    border-bottom: 1px solid white;
    width: 10%;
    margin-left: 20px;
    padding-bottom: 5px;
}


@media screen and (max-width:  680px){
    nav{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    nav .onglets{
        margin-bottom: 3px;
        margin-left: 0px;
        flex-wrap: wrap;
    }
    nav .onglets a {
        display: block;
        margin-left:10px;
    }
}
